<a href="https://colab.research.google.com/github/thanadolch/data_viz/blob/main/DataViz_Midterm_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import os

In [3]:
path = '/content/drive/My Drive/DVZ'

#ตาราง 10%

เรียกใช้ตาราง Project1-StuList-1-63-ตัดเกรด_renamed

In [10]:
test_in_class = pd.read_csv(os.path.join(path,'Project1-StuList-1-63-ตัดเกรด_renamed.csv'))
test_in_class

    เลขที่ รหัสประจำตัว  ... Unnamed: 59 Unnamed: 60
0      NaN          NaN  ...         NaN         NaN
1      1.0  603020450-3  ...         NaN         NaN
2      2.0  603020451-1  ...         NaN         NaN
3      3.0  603020452-9  ...         NaN         NaN
4      4.0  603020453-7  ...         NaN         NaN
..     ...          ...  ...         ...         ...
95     NaN          NaN  ...         NaN         NaN
96     NaN          NaN  ...         NaN         NaN
97     NaN          NaN  ...         NaN         NaN
98     NaN          NaN  ...         NaN         NaN
99     NaN          NaN  ...         NaN         NaN

[100 rows x 61 columns]

หาจำนวนใน column 'Unnamed: 8' ที่มีค่า null แล้วลบทิ้งเพราะเป็น row ที่เกินมา

In [11]:
test_in_class[test_in_class['Unnamed: 8'].isnull()]
test_in_class2 = test_in_class.drop(index=range(89,100))
test_in_class2

    เลขที่ รหัสประจำตัว  ... Unnamed: 59 Unnamed: 60
0      NaN          NaN  ...         NaN         NaN
1      1.0  603020450-3  ...         NaN         NaN
2      2.0  603020451-1  ...         NaN         NaN
3      3.0  603020452-9  ...         NaN         NaN
4      4.0  603020453-7  ...         NaN         NaN
..     ...          ...  ...         ...         ...
84    84.0  603021885-3  ...         NaN         NaN
85    85.0  603021886-1  ...         NaN         NaN
86    86.0  603021888-7  ...         NaN         NaN
87    87.0  603021889-5  ...         NaN         NaN
88    88.0          NaN  ...         NaN         NaN

[89 rows x 61 columns]

1. เลือกcolumnที่ต้องการใช้
2. ลบแถวที่ไม่จำเป็นคือแถวที่ 0 
3. เลือกค่าในตารางที่ไม่ใช้ QC
4. เปลี่ยนtypeของฟังชั่ทั้งหมดในแถว FORM8 (เข้าพบ ทปษ.) ให้เป็น float

In [22]:
test_in_class_real = test_in_class2[['เลขที่','รหัสประจำตัว','ชื่อ','สาขา','Unnamed: 8','FORM8 (เข้าพบ ทปษ.)']]
test_in_class_real = test_in_class_real.drop(index=0)
test_in_class_real = test_in_class_real[test_in_class_real['FORM8 (เข้าพบ ทปษ.)']!='QC']
test_in_class_real1 = test_in_class_real['FORM8 (เข้าพบ ทปษ.)'].astype(float)
test_in_class_real2 = test_in_class_real['Unnamed: 8'].astype(float)
test_in_class_real2

1     5.00
2     4.38
3     5.00
4     5.00
6     4.38
      ...
84    3.75
85    3.75
86    5.00
87    3.75
88    3.13
Name: Unnamed: 8, Length: 80, dtype: float64

นำคอลัมน์ FORM8 (เข้าพบ ทปษ.) Unnamed: 8 มาบวกกันแล้วตั้งค่าตัวแปรรับเป็น pip

In [24]:
pip = test_in_class_real1 + test_in_class_real2
pip

1     10.00
2      9.38
3     10.00
4     10.00
6      8.38
      ...
84     7.75
85     8.75
86    10.00
87     8.75
88     7.13
Length: 80, dtype: float64

นำค่าในตัวแปร pip มาเติมในตาราง test_in_class_reeal แล้วตั้งชื่อ column ว่า total

In [25]:
test_in_class_real['total'] = pip
test_in_class_real

    เลขที่ รหัสประจำตัว  ... FORM8 (เข้าพบ ทปษ.)  total
1      1.0  603020450-3  ...                   5  10.00
2      2.0  603020451-1  ...                   5   9.38
3      3.0  603020452-9  ...                   5  10.00
4      4.0  603020453-7  ...                   5  10.00
6      6.0  603020460-0  ...                   4   8.38
..     ...          ...  ...                 ...    ...
84    84.0  603021885-3  ...                   4   7.75
85    85.0  603021886-1  ...                   5   8.75
86    86.0  603021888-7  ...                   5  10.00
87    87.0  603021889-5  ...                   5   8.75
88    88.0          NaN  ...                   4   7.13

[80 rows x 7 columns]

#ตารางคะแแนนของอาจารย์

In [27]:
tanapong = pd.read_csv(os.path.join(path,'ธนพงศ์.csv'))
tunyapon = pd.read_csv(os.path.join(path,'ธัญพร.csv'))
tida = pd.read_csv(os.path.join(path,'ธิดาเดียว.csv'))
tipatai = pd.read_csv(os.path.join(path,'ธิปไตย.csv'))
palakorn = pd.read_csv(os.path.join(path,'พลากร.csv'))
yupapon = pd.read_csv(os.path.join(path,'ยุภาภร.csv'))
wanapon = pd.read_csv(os.path.join(path,'วรรณพร.csv'))
wichuda = pd.read_csv(os.path.join(path,'วิชุดา.csv'))
wutichai = pd.read_csv(os.path.join(path,'วุฒิชัย.csv'))
sukanya = pd.read_csv(os.path.join(path,'สุกัญญา.csv'))
supanee = pd.read_csv(os.path.join(path,'สุพรรณณี.csv'))
utom = pd.read_csv(os.path.join(path,'อุทุมพร.csv'))

หาค่า null ในcolumn ที่ชื่อว่า Unnamed: 10

In [44]:
tipatai[tipatai['Unnamed: 10'].isnull()]
tipatai1 = tipatai.drop(index=range(10,98))

ลบค่าในแถวที่ 7

In [52]:
wanapon1 = wanapon.drop(index=7)
wanapon1.head()

                ชื่อ-สกุล  ... Unnamed: 21
0                     NaN  ...         NaN
1                     NaN  ...         NaN
2  skinny-bronze-dormouse  ...         NaN
3    freaky-lemon-peccary  ...         NaN
4       flabby-green-fish  ...         NaN

[5 rows x 22 columns]

In [53]:
wutichai1 = wutichai.drop(index=6)

In [61]:
utom1 = utom.drop(index=range(8,12))

ต่อตารางของอาจารย์ทุกคนเข้าด้วยกัน

In [103]:
table_teacher = pd.concat([tanapong,tunyapon,tida,tipatai1,palakorn,yupapon,wanapon1,wichuda,wutichai1,sukanya,supanee,utom1])
table_teacher

                   ชื่อ-สกุล  ... Unnamed: 21
0                        NaN  ...         NaN
1                        NaN  ...         NaN
2        jumpy-apricot-frise  ...         NaN
3   boozy-thistle-wildebeest  ...         NaN
4       hasty-magnolia-devil  ...         NaN
..                       ...  ...         ...
3          breezy-pear-macaw  ...         NaN
4    cozy-tangerine-ladybird  ...         NaN
5       scaly-pumpkin-monkey  ...         NaN
6   scanty-razzmatazz-rabbit  ...         NaN
7         grumpy-flax-bonobo  ...         NaN

[103 rows x 22 columns]

สร้าง list ของ 0.3 จำนวน 79 ตัว (ขอโทษครับอันนี้ไม่ทัน ลืมดูที่อาจารย์เอามาให้555)

In [106]:
yui = [0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3,0.3]

ใส่ตัวแปร yui ที่เป็น list ของ 0.3 โดยตั้งชื่อ column ใหม่ว่า percent

In [109]:
table_teacher2 = table_teacher[['ชื่อ-สกุล','Unnamed: 11']]
table_teacher2 = table_teacher2.drop(index=range(0,2))
a = table_teacher2['Unnamed: 11'].astype(float)
table_teacher2['a'] = a
table_teacher2['percent'] = yui
table_teacher2

                   ชื่อ-สกุล Unnamed: 11     a  percent
2        jumpy-apricot-frise          67  67.0      0.3
3   boozy-thistle-wildebeest          64  64.0      0.3
4       hasty-magnolia-devil          67  67.0      0.3
5    chummy-goldenrod-walrus          67  67.0      0.3
6         randy-gamboge-blue          61  61.0      0.3
..                       ...         ...   ...      ...
3          breezy-pear-macaw          69  69.0      0.3
4    cozy-tangerine-ladybird          62  62.0      0.3
5       scaly-pumpkin-monkey          62  62.0      0.3
6   scanty-razzmatazz-rabbit          65  65.0      0.3
7         grumpy-flax-bonobo          65  65.0      0.3

[79 rows x 4 columns]

นำ Column a และ percent มาคูณกันแล้วตั้งชื่อ columnใหม่ว่า total_teacher_scorce

In [113]:
teacher_scorce = table_teacher2['a']*table_teacher2['percent']
table_teacher2['total_teacher_scorce'] = teacher_scorce
table_teacher2

                   ชื่อ-สกุล Unnamed: 11     a  percent  total_teacher_scorce
2        jumpy-apricot-frise          67  67.0      0.3                  20.1
3   boozy-thistle-wildebeest          64  64.0      0.3                  19.2
4       hasty-magnolia-devil          67  67.0      0.3                  20.1
5    chummy-goldenrod-walrus          67  67.0      0.3                  20.1
6         randy-gamboge-blue          61  61.0      0.3                  18.3
..                       ...         ...   ...      ...                   ...
3          breezy-pear-macaw          69  69.0      0.3                  20.7
4    cozy-tangerine-ladybird          62  62.0      0.3                  18.6
5       scaly-pumpkin-monkey          62  62.0      0.3                  18.6
6   scanty-razzmatazz-rabbit          65  65.0      0.3                  19.5
7         grumpy-flax-bonobo          65  65.0      0.3                  19.5

[79 rows x 5 columns]

#ตารางสอบปากเปล่า

In [114]:
scorce1 = pd.read_csv(os.path.join(path,'คะแนนสอบปากเปล่าของกรรมการสอบ_renamed.csv'))
scorce2 = pd.read_csv(os.path.join(path,'คะแนนสอบปากเปล่าของกรรมการสอบ_renamed2.csv'))
scorce3 = pd.read_csv(os.path.join(path,'คะแนนสอบปากเปล่าของกรรมการสอบ_renamed3.csv'))

In [158]:
scorce01 = scorce1.fillna(method='ffill')
scorce02 = scorce2.fillna(method='ffill')
scorce03 = scorce2.fillna(method='ffill')

In [119]:
real_scorce2 = real_scorce2.drop(index=range(0,2))
real_scorce3 = real_scorce3.drop(index=range(0,2))

In [157]:
real_scorce1 = scorce1.drop(index=range(56,1025))
real_scorce2 = scorce2.drop(index=range(54,1023))
real_scorce3 = scorce3.drop(index=range(56,1025))
real_scorce01 = real_scorce1.fillna(method='ffill')
real_scorce02 = real_scorce2.fillna(method='ffill')
real_scorce03 = real_scorce3.fillna(method='ffill')
table_real_scorce01 = pd.concat([real_scorce01,real_scorce02,real_scorce03])
table_real_scorce01

   วันจันทร์ที่ 7 ธันวาคม 2563  ... วันพุธที่ 9 ธันวาคม 2563
0                      ห้องสอบ  ...                      NaN
1                      ห้องสอบ  ...                      NaN
2                      SC 6501  ...                      NaN
3                      SC 6501  ...                      NaN
4                      SC 6501  ...                      NaN
..                         ...  ...                      ...
51                         NaN  ...                  SC 6410
52                         NaN  ...                  SC 6410
53                         NaN  ...                  SC 6410
54                         NaN  ...                  SC 6410
55                         NaN  ...                  SC 6410

[166 rows x 28 columns]

ดูรายชื่ออาจารย์ที่เป็นกรรมการทั้งหมด จาก column Unnamed: 5

In [205]:
all_aj_list = set(list(table_real_scorce01['Unnamed: 5'].dropna()))
all_aj_list

{'กรรมการสอบ',
 'ดร.ธนพงศ์',
 'ดร.ธิปไตย',
 'ดร.พลากร',
 'ดร.วรรณพร',
 'ดร.อุทุมพร',
 'ผศ.วุฒิชัย',
 'ผศ.สุกัญญา',
 'รศ.ธิดาเดียว',
 'รศ.วิชุดา',
 'รศ.สุพรรณี',
 'อ.ธรรณญพร',
 'อ.ยุภาพร'}

In [196]:
tanap1 = table_real_scorce01[table_real_scorce01['Unnamed: 5']=='ดร.ธนพงศ์']
ta = tanap1[['Unnamed: 12']].astype(float)
ta.mean()
ta.std()

Unnamed: 12    4.867474
dtype: float64

In [203]:
tanap1['Unnamed: 12'] = ta
tanapong_s = tanap1[['Unnamed: 3','Unnamed: 5','Unnamed: 12']]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [187]:
tanap['Unnamed: 12']

34    60.0
2     63.0
3     61.0
6     58.0
7     59.0
14    53.0
15    53.0
26    50.0
27    49.0
48    50.0
49    51.0
54    59.0
55    59.0
Name: Unnamed: 12, dtype: float64

วนลูปเพื่อทำการคำนวนณค่า Z-scorce

In [199]:
tanapong_scorce = []
for i in tanap['Unnamed: 12']:
    df = (i-55.769231)/4.867474
    tanapong_scorce.append(df)

นำค่า Z-scorce ที่ได้มาใส่ลงในตาราง

In [204]:
tanapong_s['Z-scorce'] = tanapong_scorce
tanapong_s

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                     Unnamed: 3 Unnamed: 5  Unnamed: 12  Z-scorce
34           lumpy-carmine-slug  ดร.ธนพงศ์         60.0  0.869192
2              tasty-myrtle-ant  ดร.ธนพงศ์         63.0  1.485528
3    skanky-burgundy-kingfisher  ดร.ธนพงศ์         61.0  1.074637
6            sleazy-mauve-akita  ดร.ธนพงศ์         58.0  0.458301
7         crappy-burgundy-quoll  ดร.ธนพงศ์         59.0  0.663747
14        snappy-azure-balinese  ดร.ธนพงศ์         53.0 -0.568926
15           pasty-bronze-booby  ดร.ธนพงศ์         53.0 -0.568926
26     scanty-razzmatazz-rabbit  ดร.ธนพงศ์         50.0 -1.185262
27           grumpy-flax-bonobo  ดร.ธนพงศ์         49.0 -1.390707
48              lousy-corn-mule  ดร.ธนพงศ์         50.0 -1.185262
49         muggy-charcoal-akita  ดร.ธนพงศ์         51.0 -0.979816
54  stinky-wisteria-nightingale  ดร.ธนพงศ์         59.0  0.663747
55            hazy-aqua-peccary  ดร.ธนพงศ์         59.0  0.663747

In [214]:
tipatia_1 = table_real_scorce01[table_real_scorce01['Unnamed: 5']=='ดร.ธิปไตย']
tipa = tipatia_1[['Unnamed: 12']].astype(float)
tipa.mean()
tipa.std()

Unnamed: 12    3.034981
dtype: float64

In [208]:
tipatia_s = tipatia_1[['Unnamed: 3','Unnamed: 5','Unnamed: 12']]

In [215]:
tipatia_scorce = []
for i in tipa['Unnamed: 12']:
    df = (i-58.1)/3.034981
    tipatia_scorce.append(df)

In [216]:
tipatia_s['Z-scorce'] = tipatia_scorce
tipatia_s

                 Unnamed: 3 Unnamed: 5 Unnamed: 12  Z-scorce
35       lumpy-carmine-slug  ดร.ธิปไตย          60  0.626034
26     geeky-harlequin-duck  ดร.ธิปไตย          58 -0.032949
27       gummy-olivine-ibis  ดร.ธิปไตย          57 -0.362440
50    gloppy-fuchsia-akbash  ดร.ธิปไตย          59  0.296542
51          cozy-teal-whale  ดร.ธิปไตย          59  0.296542
2        frumpy-gamboge-emu  ดร.ธิปไตย          51 -2.339389
4    ugly-harlequin-octopus  ดร.ธิปไตย          57 -0.362440
5     craggy-cream-paradise  ดร.ธิปไตย          57 -0.362440
8     pokey-asparagus-frise  ดร.ธิปไตย          62  1.285016
9   randy-charcoal-flamingo  ดร.ธิปไตย          61  0.955525

In [219]:
parakorn_1 = table_real_scorce01[table_real_scorce01['Unnamed: 5']=='ดร.พลากร']
para = parakorn_1[['Unnamed: 12']].astype(float)
para.mean()

Unnamed: 12    56.538462
dtype: float64

In [220]:
para.std()

Unnamed: 12    3.256158
dtype: float64

In [221]:
parakorn_scorce = []
for i in para['Unnamed: 12']:
    df = (i-56.538462)/3.256158
    parakorn_scorce.append(df)

In [222]:
parakorn_s['Z-scorce'] = parakorn_scorce
parakorn_s

                    Unnamed: 3 Unnamed: 5 Unnamed: 12  Z-scorce
28         jumpy-apricot-frise   ดร.พลากร          60  1.063074
29    boozy-thistle-wildebeest   ดร.พลากร          58  0.448854
32        hasty-magnolia-devil   ดร.พลากร          54 -0.779588
33     chummy-goldenrod-walrus   ดร.พลากร          54 -0.779588
54       nerdy-plum-abyssinian   ดร.พลากร          57  0.141743
55    gloppy-xanthic-retriever   ดร.พลากร          55 -0.472478
4             tasty-myrtle-ant   ดร.พลากร          60  1.063074
5   skanky-burgundy-kingfisher   ดร.พลากร          60  1.063074
8           sleazy-mauve-akita   ดร.พลากร          59  0.755964
9        crappy-burgundy-quoll   ดร.พลากร          59  0.755964
36       skimpy-magenta-bombay   ดร.พลากร          57  0.141743
46      snazzy-auburn-lionfish   ดร.พลากร          51 -1.700919
47         whiny-peach-audemer   ดร.พลากร          51 -1.700919

In [223]:
wannapon_1 = table_real_scorce01[table_real_scorce01['Unnamed: 5']=='ดร.วรรณพร']
wann = wannapon_1[['Unnamed: 12']].astype(float)
wann.mean()

Unnamed: 12    54.875
dtype: float64

In [225]:
wann.std()

Unnamed: 12    1.892969
dtype: float64

In [226]:
wannapon_s = wannapon_1[['Unnamed: 3','Unnamed: 5','Unnamed: 12']]

In [227]:
wannapon_scorce = []
for i in wann['Unnamed: 12']:
    df = (i-54.875)/1.892969
    wannapon_scorce.append(df)

In [228]:
wannapon_s['Z-scorce'] = wannapon_scorce
wannapon_s

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                   Unnamed: 3 Unnamed: 5 Unnamed: 12  Z-scorce
12          paltry-plum-saola  ดร.วรรณพร          56  0.594305
13        cloudy-wheat-bobcat  ดร.วรรณพร          57  1.122575
16  gloppy-persimmon-flamingo  ดร.วรรณพร          56  0.594305
17       sleepy-gamboge-zebra  ดร.วรรณพร          54 -0.462237
20         sickly-grey-dugong  ดร.วรรณพร          53 -0.990508
21    slaphappy-silver-monkey  ดร.วรรณพร          53 -0.990508
22           whiny-pear-otter  ดร.วรรณพร          56  0.594305
23      craggy-cream-reindeer  ดร.วรรณพร          57  1.122575
14         flaky-sepia-setter  ดร.วรรณพร          53 -0.990508
15         pasty-tomato-okapi  ดร.วรรณพร          54 -0.462237
18        chummy-azure-walrus  ดร.วรรณพร          55  0.066034
19          breezy-pear-macaw  ดร.วรรณพร          56  0.594305
22    cozy-tangerine-ladybird  ดร.วรรณพร          52 -1.518778
23       scaly-pumpkin-monkey  ดร.วรรณพร          52 -1.518778
28         cloudy-myrtle-kudu  ดร.วรรณพร          58  1.650846
29    lovely-asparagus-urchin  ดร.วรรณพร          56  0.594305