<a href="https://colab.research.google.com/github/thanadolch/data_viz/blob/main/pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import os

In [3]:
path = '/content/drive/My Drive/DVZ'

In [4]:
data_covid = pd.read_csv(os.path.join(path,'pm-18-jan-2021.csv'))

In [5]:
data_covid.isnull().any() #.any() เอาค่าความมา or กัน

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

In [6]:
data_covid.isnull().all() #.all() เอาค่าความมา and กัน

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

In [7]:
data_covid.iloc[:1,0].isnull()

0    False
Name: No., dtype: bool

#ต่อตารางแกน X แกน y

* ต่อแกน y คือ เพิ่ม record (เพิ่มจำนวนข้อมูล)
* ต่อแกน x คือ เพิ่ม column (เพิ่มรายละเอียดข้อมูล)

ต่อแกน Y pd.concat()

In [8]:
dataKK = data_covid[data_covid['province_of_isolation']=='ขอนแก่น']
dataKK

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5761    5762  ...                              Cluster สมุทรสาคร
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11516  11517  ...                           อยู่ระหว่างการสอบสวน
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[16 rows x 10 columns]

In [9]:
dataMSU = data_covid[data_covid['province_of_isolation']=='มหาสารคาม']
dataMSU

       No. announce_date  ... district_of_onset               risk
789    790     3/24/2020  ...    พยัคฆภูมิพิสัย        สถานบันเทิง
6690  6691    12/31/2020  ...             บรบือ  Cluster สมุทรสาคร

[2 rows x 10 columns]

In [10]:
dataMYisan = pd.concat([dataKK,dataMSU])
dataMYisan

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5761    5762  ...                              Cluster สมุทรสาคร
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11516  11517  ...                           อยู่ระหว่างการสอบสวน
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                    สถานบันเทิง
6690    6691  ...                              Cluster สมุทรสาคร

[18 rows x 10 columns]

ต่อแกน X



*   จับ 2 ตารางมาต่อกันเลย (merge)
*   เลือกมาเพิ่มเฉพาะ column (map)

In [11]:
data_province = data_covid[['No.','announce_date','province_of_onset']]

In [12]:
data_human = data_covid[['No.','age','sex','nationality']]

In [13]:
full_table1 = data_human.merge(data_province)
full_table1.head()

   No.   age   sex nationality announce_date province_of_onset
0    1  61.0  หญิง       China     1/12/2020     กรุงเทพมหานคร
1    2  74.0  หญิง       China     1/17/2020     กรุงเทพมหานคร
2    3  73.0  หญิง    Thailand     1/22/2020            นครปฐม
3    4  68.0   ชาย       China     1/22/2020     กรุงเทพมหานคร
4    5  66.0  หญิง       China     1/24/2020     กรุงเทพมหานคร

In [14]:
human2 = data_human.sort_values('age')

In [15]:
full_table2 = human2.merge(data_province)
full_table2

         No.   age   sex nationality announce_date province_of_onset
0       1988  0.10   ชาย    Thailand      4/4/2020             ระยอง
1       6478  0.11  หญิง    Thailand    12/30/2020          เพชรบุรี
2      11498  0.11   ชาย       Burma     1/16/2021         สมุทรสาคร
3       1676  0.30   ชาย       Japan      4/1/2020     กรุงเทพมหานคร
4       1076  0.40   ชาย    Thailand     3/27/2020      สุราษฎร์ธานี
...      ...   ...   ...         ...           ...               ...
12418  12406   NaN   NaN         NaN     1/18/2021               NaN
12419  12407   NaN   NaN         NaN     1/18/2021               NaN
12420  12408   NaN   NaN         NaN     1/18/2021               NaN
12421  12409   NaN   NaN         NaN     1/18/2021               NaN
12422  12410   NaN   NaN         NaN     1/18/2021               NaN

[12423 rows x 6 columns]

In [16]:
data_human2_renamed = human2.rename(columns={'No.':'patientNumber'})
data_human2_renamed

       patientNumber   age   sex nationality
1987            1988  0.10   ชาย    Thailand
6477            6478  0.11  หญิง    Thailand
11497          11498  0.11   ชาย       Burma
1675            1676  0.30   ชาย       Japan
1075            1076  0.40   ชาย    Thailand
...              ...   ...   ...         ...
12405          12406   NaN   NaN         NaN
12406          12407   NaN   NaN         NaN
12407          12408   NaN   NaN         NaN
12408          12409   NaN   NaN         NaN
12409          12410   NaN   NaN         NaN

[12423 rows x 4 columns]

In [17]:
full_table3 = data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.')
full_table3

       patientNumber   age   sex  ...    No.  announce_date province_of_onset
0               1988  0.10   ชาย  ...   1988       4/4/2020             ระยอง
1               6478  0.11  หญิง  ...   6478     12/30/2020          เพชรบุรี
2              11498  0.11   ชาย  ...  11498      1/16/2021         สมุทรสาคร
3               1676  0.30   ชาย  ...   1676       4/1/2020     กรุงเทพมหานคร
4               1076  0.40   ชาย  ...   1076      3/27/2020      สุราษฎร์ธานี
...              ...   ...   ...  ...    ...            ...               ...
12418          12406   NaN   NaN  ...  12406      1/18/2021               NaN
12419          12407   NaN   NaN  ...  12407      1/18/2021               NaN
12420          12408   NaN   NaN  ...  12408      1/18/2021               NaN
12421          12409   NaN   NaN  ...  12409      1/18/2021               NaN
12422          12410   NaN   NaN  ...  12410      1/18/2021               NaN

[12423 rows x 7 columns]

## map() เลือกมาเฉพาะบาง column มาแปะเพิ่มเข้าไป

คุณสมบัติของ pandas ก็คือเราสามารถสร้าง column ใหม่ให้ตาราง df ได้โดย

df['ชื่อ column ใหม่'] = (list ที่มีจำนวนสมาชิกเท่ากับจำนวน record ของ df)

In [18]:
data_human2_renamed['detail'] = data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk'])
data_human2_renamed

       patientNumber  ...                                       detail
1987            1988  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
6477            6478  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11497          11498  ...                            Cluster สมุทรสาคร
1675            1676  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075            1076  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
...              ...  ...                                          ...
12405          12406  ...                            Cluster สมุทรสาคร
12406          12407  ...                            Cluster สมุทรสาคร
12407          12408  ...                            Cluster สมุทรสาคร
12408          12409  ...                            Cluster สมุทรสาคร
12409          12410  ...                            Cluster สมุทรสาคร

[12423 rows x 5 columns]

##HW7 สร้างตารางใหม่ ที่ค่าใน  ```sex```เป็น missing ทั้งหมด

สรุปทำไม record นั้นถึงเป็น missing

In [19]:
dR = data_covid['sex'].isnull()

In [20]:
data_covid.iloc[:,3].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
12418    False
12419    False
12420    False
12421    False
12422    False
Name: sex, Length: 12423, dtype: bool

In [21]:
TF = []
for i in data_covid.iloc[:,3].isnull():
    TF.append(i)
data_colab_sexnull = data_covid[TF]

In [22]:
data_colab_sexnull

         No. announce_date  ... district_of_onset               risk
4391    4392    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4392    4393    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4393    4394    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4394    4395    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4395    4396    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
...      ...           ...  ...               ...                ...
12405  12406     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12406  12407     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12407  12408     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12408  12409     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12409  12410     1/18/2021  ...               NaN  Cluster สมุทรสาคร

[2497 rows x 10 columns]

In [23]:
data_colab_sexnull.groupby(['province_of_isolation']).count()

                        No.  announce_date  ...  district_of_onset  risk
province_of_isolation                       ...
จันทบุรี                 67             67  ...                  0    19
ชลบุรี                   81             81  ...                 18    66
ตราด                      3              3  ...                  0     3
นนทบุรี                  17             17  ...                  0     1
ระยอง                     8              8  ...                  0     8
สมุทรปราการ              13             13  ...                  0     3
สมุทรสาคร              2308           2308  ...               1353  2253

[7 rows x 9 columns]

In [24]:
data_colab_sexnull.groupby(['nationality']).count()

              No.  announce_date  ...  district_of_onset  risk
nationality                       ...
Burma        1366           1366  ...               1349  1366
Cambodia       61             61  ...                  0    61
Thailand       46             46  ...                 21    31

[3 rows x 9 columns]

In [28]:
body_fat = pd.read_csv(os.path.join(path,'BodyFat.csv'))
body_fat

    Obs  Fat%  Age  Weight  Height  Neck  Chest  Abdomen    Hip  Thigh
0     1  12.6   23  154.25   67.75  36.2   93.1     85.2   94.5   59.0
1     2   6.9   22  173.25   72.25  38.5   93.6     83.0   98.7   58.7
2     3  24.6   22  154.00   66.25  34.0   95.8     87.9   99.2   59.6
3     4  10.9   26  184.75   72.25  37.4  101.8     86.4  101.2   60.1
4     5  27.8   24  184.25   71.25  34.4   97.3    100.0  101.9   63.2
5     6  20.6   24  210.25   74.75  39.0  104.5     94.4  107.8   66.0
6     7  19.0   26  181.00   69.75  36.4  105.1     90.7  100.3   58.4
7     8  12.8   25  176.00   72.50  37.8   99.6     88.5   97.1   60.0
8     9   5.1   25  191.00   74.00  38.1  100.9     82.5   99.9   62.9
9    10  12.0   23  198.25   73.50  42.1   99.6     88.6  104.1   63.1
10   11   7.5   26  186.25   74.50  38.5  101.5     83.6   98.2   59.7
11   12   8.5   27  216.00   76.00  39.4  103.6     90.9  107.7   66.2
12   13  20.5   32  180.50   69.50  38.4  102.0     91.6  103.9   63.4
13   14  20.8   30  205.25   71.25  39.4  104.1    101.8  108.6   66.0
14   15  21.7   35  187.75   69.50  40.5  101.3     96.4  100.1   69.0
15   16  20.5   35  162.75   66.00  36.4   99.1     92.8   99.2   63.1
16   17  28.1   34  195.75   71.00  38.9  101.9     96.4  105.2   64.8
17   18  22.4   32  209.25   71.00  42.1  107.6     97.5  107.0   66.9
18   19  16.1   28  183.75   67.75  38.0  106.8     89.6  102.4   64.2
19   20  16.5   33  211.75   73.50  40.0  106.2    100.5  109.0   65.8
20   21  19.0   28  179.00   68.00  39.1  103.3     95.9  104.9   63.5
21   22  15.3   28  200.50   69.75  41.3  111.4     98.8  104.8   63.4
22   23  15.7   31  140.25   68.25  33.9   86.0     76.4   94.6   57.4
23   24  17.6   32  148.75   70.00  35.5   86.7     80.0   93.4   54.9
24   25  14.2   28  151.25   67.75  34.5   90.2     76.3   95.8   58.4
25   26   4.6   27  159.25   71.50  35.7   89.6     79.7   96.5   55.0
26   27   8.5   34  131.50   67.50  36.2   88.6     74.6   85.3   51.7
27   28  22.4   31  148.00   67.50  38.8   97.4     88.7   94.7   57.5
28   29   4.7   27  133.25   64.75  36.4   93.5     73.9   88.5   50.1
29   30   9.4   29  160.75   69.00  36.7   97.4     83.5   98.7   58.9
30   31  12.3   32  182.00   73.75  38.7  100.5     88.7   99.8   57.5
31   32   6.5   29  160.25   71.25  37.3   93.5     84.5  100.6   58.5
32   33  13.4   27  168.00   71.25  38.1   93.0     79.1   94.5   57.3
33   34  20.9   41  218.50   71.00  39.8  111.7    100.5  108.3   67.1
34   35  31.1   41  247.25   73.50  42.1  117.0    115.6  116.1   71.2
35   36  38.2   49  191.75   65.00  38.4  118.5    113.1  113.8   61.9
36   37  23.6   40  202.25   70.00  38.5  106.5    100.9  106.2   63.5
37   38  27.5   50  196.75   68.25  42.1  105.6     98.8  104.8   66.0
38   39  33.8   46  363.15   72.25  51.2  136.2    148.1  147.7   87.3
39   40  31.3   50  203.00   67.00  40.2  114.8    108.1  102.5   61.3
40   41  33.1   45  262.75   68.75  43.2  128.3    126.2  125.6   72.5
41   42  31.7   44  205.00   29.50  36.6  106.0    104.3  115.5   70.6
42   43  30.4   48  217.00   70.00  37.3  113.3    111.2  114.1   67.7
43   44  30.8   41  212.00   71.50  41.5  106.6    104.3  106.0   65.0
44   45   8.4   39  125.25   68.00  31.5   85.1     76.0   88.2   50.0
45   46  14.1   43  164.25   73.25  35.7   96.6     81.5   97.2   58.4
46   47  11.2   40  133.50   67.50  33.6   88.2     73.7   88.5   53.3
47   48   6.4   39  148.50   71.25  34.6   89.8     79.5   92.7   52.7
48   49  13.4   45  135.75   68.50  32.8   92.3     83.4   90.4   52.0
49   50   5.0   47  127.50   66.75  34.0   83.4     70.4   87.2   50.6

In [36]:
X = body_fat.drop(columns='Fat%')
X = X.drop(columns='Obs')
y = body_fat[['Fat%']]

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
reg = LinearRegression()

In [45]:
model = reg.fit(X,y)

In [47]:
reg.predict(X)
reg.score(X,y)
reg.coef_

array([[ 0.09049932, -0.19280832, -0.06422625, -0.33484145,  0.02386004,
         0.91323816, -0.31067825,  0.77865196]])

In [48]:
import statsmodels.api as sm

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [51]:
modol = sm.OLS(y,X)
modol.fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   Fat%   R-squared (uncentered):                   0.966
Model:                            OLS   Adj. R-squared (uncentered):              0.960
Method:                 Least Squares   F-statistic:                              149.6
Date:                Thu, 04 Feb 2021   Prob (F-statistic):                    2.52e-28
Time:                        17:01:48   Log-Likelihood:                         -135.96
No. Observations:                  50   AIC:                                      287.9
Df Residuals:                      42   BIC:                                      303.2
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Age            0.0513      0.085      0.607      0.547      -0.119       0.222
Weight        -0.0946      0.037     -2.529      0.015      -0.170      -0.019
Height        -0.1682      0.091     -1.846      0.072      -0.352       0.016
Neck          -0.5660      0.372     -1.520      0.136      -1.318       0.186
Chest         -0.0475      0.174     -0.274      0.786      -0.398       0.303
Abdomen        0.9989      0.154      6.470      0.000       0.687       1.310
Hip           -0.5801      0.202     -2.876      0.006      -0.987      -0.173
Thigh          0.6279      0.274      2.292      0.027       0.075       1.181
==============================================================================
Omnibus:                        8.987   Durbin-Watson:                   1.939
Prob(Omnibus):                  0.011   Jarque-Bera (JB):                3.855
Skew:                           0.414   Prob(JB):                        0.146
Kurtosis:                       1.921   Cond. No.                         197.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [52]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [59]:
covid = ols('age ~ C(province_of_onset)',data=data_covid).fit()
table2 = sm.stats.anova_lm(covid, typ=2)
print(table2)

                            sum_sq      df         F        PR(>F)
C(province_of_onset)  9.806944e+04    82.0  5.365994  9.651475e-49
Residual              1.821147e+06  8171.0       NaN           NaN

In [55]:
import statsmodels.api as sm
from statsmodels.formula.api import ols
moore = sm.datasets.get_rdataset("Moore", "carData",cache=True) # load data
data = moore.data

data = data.rename(columns={"partner.status":"partner_status"}) # make name pythonic 

moore_lm = ols('conformity ~ C(fcategory, Sum)*C(partner_status, Sum)',data=data).fit() 

table = sm.stats.anova_lm(moore_lm, typ=2) # Type 2 ANOVA DataFrame

print(table)

                                              sum_sq    df          F    PR(>F)
C(fcategory, Sum)                          11.614700   2.0   0.276958  0.759564
C(partner_status, Sum)                    212.213778   1.0  10.120692  0.002874
C(fcategory, Sum):C(partner_status, Sum)  175.488928   2.0   4.184623  0.022572
Residual                                  817.763961  39.0        NaN       NaN

In [56]:
data

   partner_status  conformity fcategory  fscore
0             low           8       low      37
1             low           4      high      57
2             low           8      high      65
3             low           7       low      20
4             low          10       low      36
5             low           6       low      18
6             low          12    medium      51
7             low           4    medium      44
8             low          13       low      31
9             low          12       low      36
10            low           4    medium      42
11            low          13      high      56
12            low           7       low      28
13            low           9    medium      43
14            low           9      high      65
15            low          24      high      57
16            low           6       low      28
17            low           7      high      61
18            low          23      high      57
19            low          13      high      55
20            low           8       low      17
21            low          12       low      35
22           high          19      high      68
23           high          12    medium      41
24           high          21       low      16
25           high           9      high      63
26           high          23       low      15
27           high           7      high      54
28           high          17    medium      48
29           high          14    medium      42
30           high          11      high      59
31           high          16    medium      45
32           high          15       low      30
33           high          20    medium      44
34           high           8    medium      42
35           high          12       low      22
36           high          14      high      52
37           high          14    medium      42
38           high          17    medium      41
39           high           7    medium      50
40           high          17    medium      39
41           high          13      high      57
42           high          16       low      35
43           high          10      high      52
44           high          15    medium      44