<a href="https://colab.research.google.com/github/thanadolch/data_viz/blob/main/pandas102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import os

In [3]:
path = '/content/drive/My Drive/DVZ'

In [4]:
data_covid = pd.read_csv(os.path.join(path,'pm-18-jan-2021.csv'))

In [5]:
data_covid.isnull().any() #.any() เอาค่าความมา or กัน

No.                      False
announce_date            False
notification_date         True
sex                       True
age                       True
nationality               True
province_of_isolation     True
province_of_onset         True
district_of_onset         True
risk                      True
dtype: bool

In [6]:
data_covid.isnull().all() #.all() เอาค่าความมา and กัน

No.                      False
announce_date            False
notification_date        False
sex                      False
age                      False
nationality              False
province_of_isolation    False
province_of_onset        False
district_of_onset        False
risk                     False
dtype: bool

In [7]:
data_covid.iloc[:1,0].isnull()

0    False
Name: No., dtype: bool

#ต่อตารางแกน X แกน y

* ต่อแกน y คือ เพิ่ม record (เพิ่มจำนวนข้อมูล)
* ต่อแกน x คือ เพิ่ม column (เพิ่มรายละเอียดข้อมูล)

ต่อแกน Y pd.concat()

In [8]:
dataKK = data_covid[data_covid['province_of_isolation']=='ขอนแก่น']
dataKK

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5761    5762  ...                              Cluster สมุทรสาคร
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11516  11517  ...                           อยู่ระหว่างการสอบสวน
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้

[16 rows x 10 columns]

In [9]:
dataMSU = data_covid[data_covid['province_of_isolation']=='มหาสารคาม']
dataMSU

       No. announce_date  ... district_of_onset               risk
789    790     3/24/2020  ...    พยัคฆภูมิพิสัย        สถานบันเทิง
6690  6691    12/31/2020  ...             บรบือ  Cluster สมุทรสาคร

[2 rows x 10 columns]

In [10]:
dataMYisan = pd.concat([dataKK,dataMSU])
dataMYisan

         No.  ...                                           risk
180      181  ...                                        สนามมวย
462      463  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1466    1467  ...                  คนไทยเดินทางกลับจากต่างประเทศ
1970    1971  ...  ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว
2637    2638  ...                  สัมผัสผู้เดินทางจากต่างประเทศ
2673    2674  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
5761    5762  ...                              Cluster สมุทรสาคร
5948    5949  ...                              Cluster สมุทรสาคร
6082    6083  ...                              Cluster สมุทรสาคร
9333    9334  ...                           อยู่ระหว่างการสอบสวน
9334    9335  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
10610  10611  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11516  11517  ...                           อยู่ระหว่างการสอบสวน
11517  11518  ...                           อยู่ระหว่างการสอบสวน
11697  11698  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11698  11699  ...    สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
789      790  ...                                    สถานบันเทิง
6690    6691  ...                              Cluster สมุทรสาคร

[18 rows x 10 columns]

ต่อแกน X



*   จับ 2 ตารางมาต่อกันเลย (merge)
*   เลือกมาเพิ่มเฉพาะ column (map)

In [11]:
data_province = data_covid[['No.','announce_date','province_of_onset']]

In [12]:
data_human = data_covid[['No.','age','sex','nationality']]

In [13]:
full_table1 = data_human.merge(data_province)
full_table1.head()

   No.   age   sex nationality announce_date province_of_onset
0    1  61.0  หญิง       China     1/12/2020     กรุงเทพมหานคร
1    2  74.0  หญิง       China     1/17/2020     กรุงเทพมหานคร
2    3  73.0  หญิง    Thailand     1/22/2020            นครปฐม
3    4  68.0   ชาย       China     1/22/2020     กรุงเทพมหานคร
4    5  66.0  หญิง       China     1/24/2020     กรุงเทพมหานคร

In [14]:
human2 = data_human.sort_values('age')

In [15]:
full_table2 = human2.merge(data_province)
full_table2

         No.   age   sex nationality announce_date province_of_onset
0       1988  0.10   ชาย    Thailand      4/4/2020             ระยอง
1       6478  0.11  หญิง    Thailand    12/30/2020          เพชรบุรี
2      11498  0.11   ชาย       Burma     1/16/2021         สมุทรสาคร
3       1676  0.30   ชาย       Japan      4/1/2020     กรุงเทพมหานคร
4       1076  0.40   ชาย    Thailand     3/27/2020      สุราษฎร์ธานี
...      ...   ...   ...         ...           ...               ...
12418  12406   NaN   NaN         NaN     1/18/2021               NaN
12419  12407   NaN   NaN         NaN     1/18/2021               NaN
12420  12408   NaN   NaN         NaN     1/18/2021               NaN
12421  12409   NaN   NaN         NaN     1/18/2021               NaN
12422  12410   NaN   NaN         NaN     1/18/2021               NaN

[12423 rows x 6 columns]

In [16]:
data_human2_renamed = human2.rename(columns={'No.':'patientNumber'})
data_human2_renamed

       patientNumber   age   sex nationality
1987            1988  0.10   ชาย    Thailand
6477            6478  0.11  หญิง    Thailand
11497          11498  0.11   ชาย       Burma
1675            1676  0.30   ชาย       Japan
1075            1076  0.40   ชาย    Thailand
...              ...   ...   ...         ...
12405          12406   NaN   NaN         NaN
12406          12407   NaN   NaN         NaN
12407          12408   NaN   NaN         NaN
12408          12409   NaN   NaN         NaN
12409          12410   NaN   NaN         NaN

[12423 rows x 4 columns]

In [17]:
full_table3 = data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.')
full_table3

       patientNumber   age   sex  ...    No.  announce_date province_of_onset
0               1988  0.10   ชาย  ...   1988       4/4/2020             ระยอง
1               6478  0.11  หญิง  ...   6478     12/30/2020          เพชรบุรี
2              11498  0.11   ชาย  ...  11498      1/16/2021         สมุทรสาคร
3               1676  0.30   ชาย  ...   1676       4/1/2020     กรุงเทพมหานคร
4               1076  0.40   ชาย  ...   1076      3/27/2020      สุราษฎร์ธานี
...              ...   ...   ...  ...    ...            ...               ...
12418          12406   NaN   NaN  ...  12406      1/18/2021               NaN
12419          12407   NaN   NaN  ...  12407      1/18/2021               NaN
12420          12408   NaN   NaN  ...  12408      1/18/2021               NaN
12421          12409   NaN   NaN  ...  12409      1/18/2021               NaN
12422          12410   NaN   NaN  ...  12410      1/18/2021               NaN

[12423 rows x 7 columns]

## map() เลือกมาเฉพาะบาง column มาแปะเพิ่มเข้าไป

คุณสมบัติของ pandas ก็คือเราสามารถสร้าง column ใหม่ให้ตาราง df ได้โดย

df['ชื่อ column ใหม่'] = (list ที่มีจำนวนสมาชิกเท่ากับจำนวน record ของ df)

In [18]:
data_human2_renamed['detail'] = data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk'])
data_human2_renamed

       patientNumber  ...                                       detail
1987            1988  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
6477            6478  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
11497          11498  ...                            Cluster สมุทรสาคร
1675            1676  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
1075            1076  ...  สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้
...              ...  ...                                          ...
12405          12406  ...                            Cluster สมุทรสาคร
12406          12407  ...                            Cluster สมุทรสาคร
12407          12408  ...                            Cluster สมุทรสาคร
12408          12409  ...                            Cluster สมุทรสาคร
12409          12410  ...                            Cluster สมุทรสาคร

[12423 rows x 5 columns]

##HW สร้างตารางใหม่ ที่ค่าใน  ```sex```เป็น missing ทั้งหมด

สรุปทำไม record นั้นถึงเป็น missing

In [19]:
dR = data_covid['sex'].isnull()

In [20]:
data_covid.iloc[:,3].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
12418    False
12419    False
12420    False
12421    False
12422    False
Name: sex, Length: 12423, dtype: bool

In [21]:
TF = []
for i in data_covid.iloc[:,3].isnull():
    TF.append(i)
data_colab_sexnull = data_covid[TF]

In [22]:
data_colab_sexnull

         No. announce_date  ... district_of_onset               risk
4391    4392    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4392    4393    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4393    4394    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4394    4395    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
4395    4396    12/20/2020  ...             เมือง  Cluster สมุทรสาคร
...      ...           ...  ...               ...                ...
12405  12406     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12406  12407     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12407  12408     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12408  12409     1/18/2021  ...               NaN  Cluster สมุทรสาคร
12409  12410     1/18/2021  ...               NaN  Cluster สมุทรสาคร

[2497 rows x 10 columns]

In [23]:
data_colab_sexnull.groupby(['province_of_isolation']).count()

                        No.  announce_date  ...  district_of_onset  risk
province_of_isolation                       ...
จันทบุรี                 67             67  ...                  0    19
ชลบุรี                   81             81  ...                 18    66
ตราด                      3              3  ...                  0     3
นนทบุรี                  17             17  ...                  0     1
ระยอง                     8              8  ...                  0     8
สมุทรปราการ              13             13  ...                  0     3
สมุทรสาคร              2308           2308  ...               1353  2253

[7 rows x 9 columns]

In [24]:
data_colab_sexnull.groupby(['nationality']).count()

              No.  announce_date  ...  district_of_onset  risk
nationality                       ...
Burma        1366           1366  ...               1349  1366
Cambodia       61             61  ...                  0    61
Thailand       46             46  ...                 21    31

[3 rows x 9 columns]